[Unit]
Description=Webapp Service
ConditionPathExists=/opt/csye6225/webapp/src/main/resources/application.properties
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/csye6225/webapp

User=csye6225user
Group=csye6225group
Environment="MAVEN_OPTS=-Xmx512m -Xms256m"
ExecStart=/usr/bin/mvn spring-boot:run

Restart=always
RestartSec=3

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=webapp

[Install]
WantedBy=multi-user.target
